<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SA</title>
</head>
<body>
    <form method="post" action="/">
        <input type="text"  name="user-input">
        <input type="submit"  name="user-input-button" value="Submit text">
    </form>
    <span>{{sentiment}}</span>
 <form method="post" action="/">
        <input type="text" name="user-input">
        <input type="submit" name="user-input-button" value="Submit label">
 </form>
<p>{{note}}</p>

</body>
</html>